n8n-workflow-bill-generator.json
{
    "name": "Atlas Kos - Monthly Bill Generator",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "cronExpression",
                            "expression": "0 0 1 * *"
                        }
                    ]
                }
            },
            "id": "schedule-trigger",
            "name": "Schedule (1st of Month)",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.2,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "method": "GET",
                "url": "https://api.atlas-kos.my.id/api/kamar",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer e6395264afddde57f7b98763e2c7bce78796a0949ebef31a1a6af9ef6ce6d480"
                        }
                    ]
                },
                "options": {
                    "allowUnauthorizedCerts": true
                }
            },
            "id": "get-occupied-rooms",
            "name": "Get Occupied Rooms",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                470,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "has-tenant",
                            "leftValue": "={{ $json.penghuni }}",
                            "rightValue": "",
                            "operator": {
                                "type": "object",
                                "operation": "notEmpty"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "filter-occupied",
            "name": "Filter Occupied Rooms",
            "type": "n8n-nodes-base.filter",
            "typeVersion": 2,
            "position": [
                690,
                300
            ]
        },
        {
            "parameters": {
                "fieldToSplitOut": "kamar",
                "options": {}
            },
            "id": "split-rooms",
            "name": "Split Rooms",
            "type": "n8n-nodes-base.splitOut",
            "typeVersion": 1,
            "position": [
                910,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.atlas-kos.my.id/api/admin/tagihan/generate",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer e6395264afddde57f7b98763e2c7bce78796a0949ebef31a1a6af9ef6ce6d480"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"penghuniId\": {{ $json.penghuni.id }},\n  \"jumlah\": {{ $json.hargaBulanan }},\n  \"periode\": \"{{ $now.format('yyyy-MM-01') }}\"\n}",
                "options": {
                    "allowUnauthorizedCerts": true
                }
            },
            "id": "create-bill",
            "name": "Create Bill",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1130,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.fonnte.com/send",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "PxYELzAhgoyp2Lbdseea"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"target\": \"{{ $json.penghuni.noHp }}\",\n  \"message\": \"📋 *Tagihan Baru*\\n\\nHalo {{ $json.penghuni.nama }},\\n\\nTagihan bulan {{ $now.format('MMMM yyyy') }} telah tersedia:\\n\\n💰 Jumlah: Rp {{ $json.hargaBulanan.toLocaleString('id-ID') }}\\n🏠 Kamar: {{ $json.nomorKamar }}\\n\\nSilakan lakukan pembayaran sebelum tanggal 10.\\n\\n_Atlas Kos Management_\",\n  \"countryCode\": \"62\"\n}",
                "options": {}
            },
            "id": "send-reminder",
            "name": "Send Bill Reminder",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1350,
                300
            ]
        },
        {
            "parameters": {},
            "id": "aggregate-results",
            "name": "Aggregate Results",
            "type": "n8n-nodes-base.aggregate",
            "typeVersion": 1,
            "position": [
                1570,
                300
            ]
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "summary",
                            "name": "summary",
                            "value": "=Generated {{ $json.length }} bills for {{ $now.format('MMMM yyyy') }}",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "id": "create-summary",
            "name": "Create Summary",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                1790,
                300
            ]
        }
    ],
    "connections": {
        "Schedule (1st of Month)": {
            "main": [
                [
                    {
                        "node": "Get Occupied Rooms",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Occupied Rooms": {
            "main": [
                [
                    {
                        "node": "Filter Occupied Rooms",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Filter Occupied Rooms": {
            "main": [
                [
                    {
                        "node": "Split Rooms",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Split Rooms": {
            "main": [
                [
                    {
                        "node": "Create Bill",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Create Bill": {
            "main": [
                [
                    {
                        "node": "Send Bill Reminder",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send Bill Reminder": {
            "main": [
                [
                    {
                        "node": "Aggregate Results",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Aggregate Results": {
            "main": [
                [
                    {
                        "node": "Create Summary",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1",
        "saveManualExecutions": true,
        "callerPolicy": "workflowsFromSameOwner"
    },
    "staticData": null,
    "meta": {
        "instanceId": "atlas-kos-instance"
    },
    "pinData": {},
    "tags": [
        {
            "id": "atlas-kos",
            "name": "Atlas Kos"
        }
    ]
}