n8n-workflow-overdue-reminder.json
{
    "name": "Atlas Kos - Overdue Payment Reminder",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "cronExpression",
                            "expression": "0 9 * * *"
                        }
                    ]
                }
            },
            "id": "daily-trigger",
            "name": "Daily Check (9 AM)",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.2,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "method": "GET",
                "url": "={{ $env.BACKEND_URL }}/api/admin/tagihan/overdue",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer {{ $env.ADMIN_TOKEN }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "get-overdue",
            "name": "Get Overdue Bills",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                470,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "has-overdue",
                            "leftValue": "={{ $json.tagihan.length }}",
                            "rightValue": 0,
                            "operator": {
                                "type": "number",
                                "operation": "gt"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "check-has-overdue",
            "name": "Has Overdue Bills?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                690,
                300
            ]
        },
        {
            "parameters": {
                "fieldToSplitOut": "tagihan",
                "options": {}
            },
            "id": "split-overdue",
            "name": "Split Bills",
            "type": "n8n-nodes-base.splitOut",
            "typeVersion": 1,
            "position": [
                910,
                200
            ]
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "days-overdue",
                            "name": "daysOverdue",
                            "value": "={{ Math.floor((new Date() - new Date($json.periode)) / (1000 * 60 * 60 * 24)) }}",
                            "type": "number"
                        },
                        {
                            "id": "reminder-level",
                            "name": "reminderLevel",
                            "value": "={{ $json.daysOverdue > 30 ? 'URGENT' : ($json.daysOverdue > 14 ? 'WARNING' : 'REMINDER') }}",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "id": "calculate-overdue",
            "name": "Calculate Overdue Days",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                1130,
                200
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "is-urgent",
                            "leftValue": "={{ $json.reminderLevel }}",
                            "rightValue": "URGENT",
                            "operator": {
                                "type": "string",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "check-urgency",
            "name": "Check Urgency Level",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                1350,
                200
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.fonnte.com/send",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "={{ $env.FONNTE_API_KEY }}"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"target\": \"{{ $json.penghuni.noHp }}\",\n  \"message\": \"🚨 *TAGIHAN MENDESAK*\\n\\nYth. {{ $json.penghuni.nama }},\\n\\nTagihan Anda sudah terlambat {{ $json.daysOverdue }} hari!\\n\\n💰 Jumlah: Rp {{ $json.jumlah.toLocaleString('id-ID') }}\\n🏠 Kamar: {{ $json.kamar }}\\n📅 Periode: {{ $json.periode }}\\n\\n⚠️ Harap segera lunasi untuk menghindari tindakan lebih lanjut.\\n\\n_Atlas Kos Management_\",\n  \"countryCode\": \"62\"\n}",
                "options": {}
            },
            "id": "send-urgent",
            "name": "Send Urgent Reminder",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1570,
                100
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.fonnte.com/send",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "={{ $env.FONNTE_API_KEY }}"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"target\": \"{{ $json.penghuni.noHp }}\",\n  \"message\": \"📢 *Pengingat Pembayaran*\\n\\nHalo {{ $json.penghuni.nama }},\\n\\nTagihan Anda sudah melewati jatuh tempo ({{ $json.daysOverdue }} hari).\\n\\n💰 Jumlah: Rp {{ $json.jumlah.toLocaleString('id-ID') }}\\n🏠 Kamar: {{ $json.kamar }}\\n\\nMohon segera lakukan pembayaran.\\n\\n_Atlas Kos Management_\",\n  \"countryCode\": \"62\"\n}",
                "options": {}
            },
            "id": "send-normal",
            "name": "Send Normal Reminder",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1570,
                300
            ]
        },
        {
            "parameters": {},
            "id": "no-op",
            "name": "No Overdue Bills",
            "type": "n8n-nodes-base.noOp",
            "typeVersion": 1,
            "position": [
                910,
                400
            ]
        }
    ],
    "connections": {
        "Daily Check (9 AM)": {
            "main": [
                [
                    {
                        "node": "Get Overdue Bills",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Overdue Bills": {
            "main": [
                [
                    {
                        "node": "Has Overdue Bills?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Has Overdue Bills?": {
            "main": [
                [
                    {
                        "node": "Split Bills",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "No Overdue Bills",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Split Bills": {
            "main": [
                [
                    {
                        "node": "Calculate Overdue Days",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Calculate Overdue Days": {
            "main": [
                [
                    {
                        "node": "Check Urgency Level",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check Urgency Level": {
            "main": [
                [
                    {
                        "node": "Send Urgent Reminder",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Send Normal Reminder",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1",
        "saveManualExecutions": true,
        "callerPolicy": "workflowsFromSameOwner"
    },
    "staticData": null,
    "meta": {
        "instanceId": "atlas-kos-instance"
    },
    "pinData": {},
    "tags": [
        {
            "id": "atlas-kos",
            "name": "Atlas Kos"
        }
    ]
}